body{
  padding-bottom: 120px;
  margin-top: 50px;
}
.footer {
  padding: .75rem 0;
  margin-top: auto;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.form-control{
  border-radius: 15px;
}

.card{
  border-radius: 20px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 450px;
  width: 450px;
}
