<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}}VotePower</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='styles/styles.css')}}">
  <script type='text/javascript' src="{{ url_for('static', filename='typewriter.js') }}"></script>
</head>
<!--Navbar-->
<header>
  {%include "nav.html"%}
</header>

<!-- Modal -->
<div id="myModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you registered to vote?</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <a href="{{url_for('registration')}}">Click here for more information</a>
      </div>
    </div>
  </div>
</div>

<!-- Center piece -->

<body class="d-flex flex-column" style="min-height: 100vh; background-color:" onload="typewriter()">
  <div class="py-5 text-center align-items-center d-flex" style="background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); background-size: 100%;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 mx-auto"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-5x"></i>
          <h1 class="display-3 mb-4" style="font-family: 'Open Sans', sans-serif;">VotePower</h1>
          <h3 id="text"></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5" style="background-color:#ADE8F4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mr-auto order-2 order-md-1"> <a href="{{url_for('registration')}}"> <img class="img-fluid d-block" src="{{url_for('static',filename='registrationdetails.png')}}"> </a></div>
        <div class="px-md-5 p-3 d-flex flex-column align-items-start justify-content-center col-md-7 order-1 order-md-2"> <i class="d-block fa fa-stop-circle fa-4x mb-3 text-muted"></i>
          <h1> Registration Details</h1>
          <p class="lead mb-0">Register to vote or check your registration status.</p>
          <p class="lead">A few clicks away to make democracy better.</p>
          <div class="row text-muted">
            <div class="col-12 p-2"> <i class="d-inline fa fa-apple fa-3x"></i> <i class="d-inline fa fa-android fa-3x mx-4"></i> <i class="d-inline fa fa-windows fa-3x"></i> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5" style="background-color:#ffdb58">
    <div class="container">
      <div class="row">
        <div class="px-md-5 p-3 col-md-6 d-flex flex-column align-items-start justify-content-center">
          <h1>Upcoming Elections</h1>
          <p class="lead mb-0">Unsure about the next election?</p>
          <p class="lead mb-0">We've got you covered!</p>
          <p class="lead mb-0">Stay up to date with our calendar.</p>
          <div class="row">
            <div class="col-md-12"> <i class="fa fa-stop-circle fa-3x mr-3 text-muted d-inline"></i> <i class="fa fa-circle-o fa-3x mx-3 text-muted d-inline"></i> <i class="fa fa-stop-circle-o fa-3x mx-3 text-muted d-inline"></i> <i
                class="fa fa-circle fa-3x ml-3 text-muted d-inline"></i> </div>
          </div>
        </div>
        <div class="col-md-4 mr-auto order-2 order-md-1"> <a href="{{url_for('upcomingelections')}}"> <img class="img-fluid d-block" src="{{url_for('static',filename='upcomingelections.png')}}"></a> </div>
      </div>
    </div>
  </div>
  <div class="pt-5" style="background-color:orange">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mr-auto order-2 order-md-1"> <a href="{{url_for('voteinfo')}}"> <img class="img-fluid d-block" src="{{url_for('static',filename='candidateinfo.png')}}"></a> </div>
        <div class="px-md-5 p-3 d-flex flex-column align-items-start justify-content-center col-md-7 order-1 order-md-2"> <i class="d-block fa fa-stop-circle fa-4x mb-3 text-muted"></i>
          <h1> Candidate Information</h1>
          <p class="lead mb-0">Know your representative.</p>
          <p class="lead mb-0">Don't like them? Don't vote for them!</p>
          <p class="lead mb-0">Engage with them through social media!</p>
          <div class="row text-muted">
            <div class="col-12 p-2"> <i class="d-inline fa fa-apple fa-3x"></i> <i class="d-inline fa fa-android fa-3x mx-4"></i> <i class="d-inline fa fa-windows fa-3x"></i> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-color:#CAF1DE">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 p-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-text text-center">Find your poll site location</h5>
            </div> <a href="{{url_for('pollsite')}}"><img class="card-img-top" src="{{url_for('static',filename='pollsite.png')}}" alt="Card image cap"></a>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-text text-center">Sign up for email notifications</h5>
            </div> <a href="#"><img class="card-img-top" src="{{url_for('static',filename='signupemail.png')}}" alt="Card image cap"></a>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-text text-center">Check out our mobile app</h5>
            </div> <a href="#"><img class="card-img-top" src="{{url_for('static',filename='mobileapp.png')}}" alt="Card image cap"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer border-top pt-md-4">
    {%include "footer.html" %}
  </footer>
  <!--Footer-->
  <!-- JavaScript for alert -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!--Script for Modal-->
  <script>
    $(document).ready(function() {
      //Check for cookie
      if (document.cookie.indexOf("ModalShown=true") < 0) {
        $("#myModal").modal("show");
        //Set cookie so modal doesn't return
        $("#myModalClose").click(function() {
          $("#myModal").modal("hide");
        });
        document.cookie = "ModalShown=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
      }
    });
  </script>
</body>

</html>
