<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}}VotePower - Registration Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body class="d-flex flex-column bg-light" style="min-height: 100vh;">
  <header> {% include "nav.html" %} </header>
  <!--jumbotron-->
  <div class="jumbotron jumbotron-fluid" style="background-color:#70adb5">
    <div class="container">
      <h1 class="display-4 text-center text-light font-weight-bold pt-5">Registration Details</h1>
    </div>
  </div>
  <!--Registration Buttons -->
  <!-- id: btn-r = register btn-c = check-->
  <main class="flex-fill">
    <div class="container">
      <div class="form-group row" id="btn-content">
        <button type="button" class="btn col-md-6" id="btn-R">
          <h3> Register To Vote </h3>
          <svg width="15em" height="20em" viewBox="0 0 16 16" class="bi bi-clipboard-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
            <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"></path>
          </svg>
        </button>
        <button type="button" class="btn col-md-6" id="btn-C">
          <h3>Check Registration</h3>
          <svg width="15em" height="20em" viewBox="0 0 16 16" class="bi bi-clipboard-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
            <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
          </svg>
        </button>
      </div>
    </div>
  </main>
  <!--Modal for Register to Vote-->
  <div class="modal fade" id="modalWindow-R" role="dialog">
    <div class="modal-dialog modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header modal-dialog-centered">
          <h5>Register To Vote</h5>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownStates" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> States </button>
            <div class=" dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton" id="selectStates">
              {%for states in state %}
              <a class="dropdown-item" href="{{states.RegisterURL}}" target="_blank">{{states.name}}</a>
              {%endfor%}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <p> Picking a state will redirect you to the state's website </p>
        </div>
      </div>
    </div>
  </div>
  <!--Modal for Check Registration-->
  <div class="modal fade" id="modalWindow-C" role="dialog">
    <div class="modal-dialog modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header modal-dialog-centered">
          <h5>Check Your Registration</h5>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownStates" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> States </button>
            <div class=" dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton" id="selectStates">
              {%for states in state %}
              <a class="dropdown-item" href="{{states.CheckURL}}" target="_blank">{{states.name}}</a>
              {%endfor%}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <p> Picking a state will redirect you to the state's website </p>
        </div>
      </div>
    </div>
  </div>
  <!--footer-->
  <footer class="footer border-top pt-md-4"> {% include "footer.html" %} </footer>
  <!-- JavaScript for alert -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!-- JS for modal window-->
  <script>
    $('#btn-R').click(function() {
      $('#modalWindow-R').modal('show');
    });
    $('#btn-C').click(function() {
      $('#modalWindow-C').modal('show');
    });
  </script>

</body>

</html>
