<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}}VotePower - Upcoming Elections</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <script type="text/javascript">
    window.addeventasync = function() {
      addeventatc.settings({
        appleical: {
          show: false
        },
        google: {
          show: true,
          text: "Google"
        },
        office365: {
          show: false
        },
        outlook: {
          show: false
        },
        outlookcom: {
          show: true,
          text: "Outlook"
        },
        yahoo: {
          show: true,
          text: "Yahoo"
        }
      });
    };
  </script>
</head>

<body class="d-flex flex-column bg-light" style="min-height: 100vh">
  <header> {% include "nav.html" %} </header>
  <!--jumbotron-->
  <div class="jumbotron jumbotron-fluid" style="background-color:#70adb5">
    <div class="container">
      <h1 class="display-4 text-center text-light font-weight-bold pt-5">Upcoming Elections</h1>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered" id="electionTable" cellspacing="0" width="100%">
              <thead class="thead-dark">
                <tr>
                  <th onclick="w3.sortHTML('#electionTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Region<i class="fa fa-fw fa-sort"></i></th>
                  <th onclick="w3.sortHTML('#electionTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Election Name<i class="fa fa-fw fa-sort"></i></th>
                    <th onclick="w3.sortHTML('#electionTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">Election Date<i class="fa fa-fw fa-sort"></i></th>
                  <th></th>
                </tr>
              </thead>
              {%for x in electionData%}
              <tbody style="font-size:20px">
                <tr class="item">
                  {%if x.ocdDivisionId%}
                  <td STYLE="text-transform:uppercase">{{x.ocdDivisionId[-2:]}}</td>
                  {%endif%}
                  <td>{{x.name}}</td>
                  <td>{{x.electionDay}}</td>
                  <td class="mx-2">
                    <div title="Add to Calendar" class="addeventatc">
                      Add to Calendar
                      <span class="start">{{x.electionDay}}</span>
                      <span class="title">{{x.name}}</span>
                      <span class="all_day_event">true</span>
                    </div>
                  </td>
                </tr>
              </tbody>
              {%endfor%}
            </table>
            <small>
              *note these elections are subject to change
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer-->
  <footer class="footer border-top pt-md-4"> {% include "footer.html" %} </footer>
  <!-- JavaScript for alert -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>
